<header>
  {% include "./navbar.njk" %}
</header>

<style>
  header {
    background: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    box-shadow: 0px 1px 5px rgb(0,0,0,0.2);
  }
</style>


