{% include "./partials/head.njk" %}

<body>
  {% include "./partials/header.njk" %}
  <div class="dashboard">
    {% include "./partials/sidebarLeft.njk" %}
    <div class="content"></div>
  </div>
</body>
</html>


