{% include "./partials/head.njk" %}

<body>
  {% include "./partials/header.njk" %}

  <div class="dashboard">

    {% include "./partials/sidebarLeft.njk" %}

    <div class="content">

      <a href="/">
        <button><- retour</button>
      </a>


      <form>
        <label>
          <input id="name" type="text" placeholder="nom...">
        </label>
        <label>
          <input id="car" type="text" placeholder="voiture...">
        </label>
        <label>
          <input id="purpose" type="text" placeholder="pour...">
        </label>
        <label>
          <input id="phone" type="text" placeholder="téléphone">
        </label>
        <label>
          <input id="date" type="date" placeholder="date...">
        </label>
        <button id="register-rdv">Ajouter</button>
      </form>


    </div>

  </div>

</body>
</html>








